.dagger/               export-ignore
.gitattributes         export-ignore
.github/               export-ignore
.gitignore             export-ignore
.php-cs-fixer.dist.php export-ignore
dagger.json            export-ignore
FUNDING.yml            export-ignore
infection.json5        export-ignore
Makefile               export-ignore
phpunit.xml.dist       export-ignore
psalm.xml              export-ignore
rector.php             export-ignore
tests/                 export-ignore
