<head>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="/CalendR/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/CalendR/css/styles.css" />
    <link type="text/css" rel="stylesheet" href="/CalendR/css/pygments.css" />
    <title>{{ page.title }}{% if page.title %} | CalendR{% endif %}</title>
    <script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-11791470-13']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
</head>
