<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="index.html">Project name</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="index.html">Overview</a></li>
                    <li><a href="periods.html">Periods</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<a id="forkme" href="https://github.com/yohang/CalendR">Fork me on Github</a>
